/***************************TAG SELECTORS***************************/

body {
  font-family: "Montserrat";
  background-color: #487e95;

}
h1 {
  font-family: "Montserrat";

  line-height: 1.5;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}
p {
  font-size: 20px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;

  text-align: center;
}
/***************************CLASS SELECTORS***************************/
.container-fluid {
  padding: 0 7% 0;
}

#title {
  background-color: #487e95;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-style: italic;

}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"
}
/* Carousel */
.carousel {
  padding: 0 auto 5rem;
}
.carousel-images {
  border-left: 10px solid;
  border-right: 10px solid;
  border-bottom: 10px solid;
}
.carousel-images-pc {
border-left: 10px solid;
border-right: 10px solid;
border-bottom: 10px solid;

}

/* Footer */
#footer {
  padding: 3% 5% 0;
  font-size: 15px;
  font-style: italic;
}
