/***************************TAG SELECTORS***************************/

body {
  font-family: "Montserrat";
  background-color: #487e95;

}
h1 {
  font-family: "Montserrat";

  font-weight: bold;
}
h2 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}
p {
  font-size: 80%;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;

  text-align: center;
}
/***************************CLASS SELECTORS***************************/
.container-fluid {
padding: 0;
}

#title {
  background-color: #487e95;
}

/* Navigation Bar */
.navbar {
  margin: 0;
}
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  font-style: italic;

}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"
}
.navbar-toggler {
  margin-right: 15px;
}
/* Carousel */
#carouselExampleIndicators {
  padding-top: 2%;
}
.carousel {
  padding: 0 auto 5rem;
}
.carousel-images {
border: 10px solid;
}
.carousel-images-pc {
border: 10px solid;
}

/* Footer */
#footer {
  padding: 3% 5% 0;

  font-style: italic;
}
